body {
    margin: 0;
}
#body-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#header-wrap {
    width: 98vw;
    height: 80px;
    box-shadow: 0px 10px 5px lightgray;
    padding-top: 0px;
    margin-top: 0px;
}
#header-wrap h2 {
    font-size: 40px;
    font-family: Arial;
    margin: 10px 0px 0px 30px;
}
#header-wrap p {
    font-size: 25px;
    margin-left: 20px;
    margin-top: 25px;
}
#header-wrap input {
    position: relative;
    top: -5px;
    width: 16vw;
    padding: 10px 10px;
    font-size: 15px;
    border-radius: 10px;
    margin: 0px 20px 0px 0px;
    outline: none;
    background-color: lightgray;
} 
#head-left {
    display: inline-flex;
}
#div-input {
    float: right;
}
#cart {
    position: relative;
    font-size: 35px;
    margin-top: 20px;
    margin-right: 20px;
}
#cart-count {
    position: absolute;
    top: -18px;
    left:20px;
    font-size: 20px;
    background-color: lightgreen;
    border-radius: 50%;
    z-index: 100;
    width: 30px;
    height: 25px;
    text-align: center;
    padding-top: 5px;
} 
#header-wrap img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-top: 20px;
    float: right;
}





#small-images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
} 
#head {
    padding-top: 20px;
    font-size: 35px;
    font-weight: 400;
}
#sechead {
    font-size: 24px;
}
#secprice {
    font-size: 20px
}
#desc {
    font-size: 24px;
}
#secdesc {
    color: gray;
    width: 500px;
}
.smimg {
    width: 50px;
    height: 60px;
}
#image {
    width: 40vw;
    text-align: center;
}
#image img {
    height:400px;
    margin-top:50px;
}
#text {
    width: 57vw;
}
#btn {
    padding: 10px 20px;
    background-color: chartreuse;
    margin-top: 20px;
    margin-bottom: 100px;
    border-radius: 10px;
    outline: none;
}




#footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 98.7vw;
    background-color:yellow;
    color: blue;
    padding: 40px 0px 30px 0px; 
}

@media screen and (max-width: 930px){
    #body-wrap {
        display: flex;
        flex-direction: column;
        width: 90vw;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    #image {
        width: 90vw;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    #text {
        width: 90vw;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    #small-images {
        width: 90vw;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    } 
    #secdesc {
        width: 90vw;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .delnone {
        display: none;
    }
}
@media screen and (max-width: 380px){
    #header-wrap h2 {
        font-size: 30px;
        margin-left: 10px;
    }
}
@media screen and (max-width: 600px){
    #div-input input {
        display: none;
    }
}
@media screen and (max-width: 768px){
    #footer {
        font-size: 10px;
        grid-template-columns: 15vw 15vw 15vw 15vw;
        row-gap: 0px;
    }
}